@import "tailwindcss";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@custom-variant dark (&:is(.dark *));
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@theme inline {
  --breakpoint-xxs: 23.4375rem; /* 375px - Mobile Small */
  --breakpoint-xs: 25.875rem; /* 414px - Mobile Large */
  --breakpoint-sm: 48rem; /* 768px - Tablet Portrait */
  --breakpoint-md: 64rem; /* 1024px - Tablet Landscape */
  --breakpoint-lg: 85.375rem; /* 1366px - Laptop */
  --breakpoint-xl: 90rem; /* 1440px - Standard Desktop */
  --breakpoint-2xl: 120rem; /* 1920px - Large Desktop */
  --breakpoint-3xl: 160rem; /* 2560px - extra Large Desktop */
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f3f4f6;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 9999px;
}

.dark ::-webkit-scrollbar-track {
  background-color: #404040;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #737373;
}
